.container {
width: 902px;
margin: 0 auto;
}

.page-header {
padding-top: 72px;
padding-bottom: 98px;
}

.paragraph {
margin-top: 30px;
margin-bottom: 28px;
font-size: 14px;
text-transform: uppercase;
line-height: 17px;
font-family: Ubuntu-Light;
color: #b4ad9e;
}

h2 {
margin: 0;
margin-bottom: 34px;
}

.main-text {
margin: 0%;
font-size: 14px;
line-height: 24px;
font-family: PlayfairDisplay-Regular;
color: #626262;
}

h2 {
font-size: 30px;
line-height: 36px;
font-family: PlayfairDisplay-Regular;
color: #626262;
}

.header-items-list {
padding: 0;
font-size: 0;
line-height: 24px;
font-family: PlayfairDisplay-Regular;
text-align: center;
}

.header-items-list li {
display: inline-block;
font-size: 14px;
}


.header-items-list li:not(:last-child) {
    margin-right: 120px;
}

.header-items-list a {
display: block;
color: #626262;
font-weight: normal;
text-transform: uppercase;
text-decoration: none;
line-height: 24px;
}
.header-items-list a:hover{
color: #03a9f4;
}

.article {
display: inline-block;
width: 420px;
margin-right: 62px;
margin-bottom: 135px;
}

.article:nth-last-child(-n +3) {
margin-bottom: 52px;
}

.article:nth-child(2n) {
margin-right: 0;
}

section {
font-size: 0%;
padding-bottom: 70px ;
}

.page-button {
margin: 0 auto;
display: block;
text-align: center;
width: 164px;
height: 60px;
font-family: PlayfairDisplay-Regular;
font-size: 20px;
line-height: 24px;
color: #626262;
background-color: white;
border: 2px solid #626262;
}

.page-button:hover {
cursor: pointer;
color: #c7c1b6;
}

